@import url(./fonts/index.css);

html, body{
  box-sizing: border-box;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  overflow-y: visible;
  line-height: 16px;
}

*:before, *:after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}
ol{
  list-style-type: none;
  padding: 0;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.menu_items {
  display: flex;
  align-items: center;
  
}
.menu_items * {
  margin: 0 8px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

#buscador_principal {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid rgb(53, 53, 53);
  padding: 7px;
  width: 50%;
  border-radius: 16px;
}

#buscador_principal input {
  padding: 7px;
  flex-grow: 1;
  margin: 0 10px;
  border: transparent;
  outline: none;
}


.anuncio a {
  color: blue;
}

.action {
  height: 100px;
}

button{
  border: transparent;
  padding: 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  
}

button:active{
  border: 1px solid blue;
  box-sizing: border-box;
}

#profilepicture {
  border-radius: 999px;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: #f1f1f1;
  font-size: 18px;
}

.pais{
  border-bottom: 1px solid #d9dbdf;  
  display: block;
  padding: 15px;
}

.menu_secundario {
  display: flex;
  justify-content: space-around;
}
